*{
	padding: 0px;
	margin: 0px;
	color:black;
	font-family: Arial;
}
body{
<<<<<<< HEAD
	background: #666;
=======
	background: #000;
>>>>>>> atualizacao css
}
#toolbar h1{
	color:red;
	text-align: center;
	width:auto;
	height: 60px;
	background: white;
	line-height: 60px;	
}